NODE_ENV=development
PORT=3000
CORS_URL=http://localhost:3000

URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/

JWT_SECRET=your-super-secret-jwt-key-min-32-chars
JWT_REFRESH_SECRET=your-refresh-secret-key-min-32-chars
EXPIRESIN=2d
JWT_REFRESH_EXPIRESIN=7d